.event-card img {
  height: 120px;
}

.map-container {
  height: 300px;
  width: 100%;
}

.even-modal div {
  height: 65%;
  width: 65%;
}

@media screen and (min-width: 959px) {
  .info-map-container {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 959px) {
  .info-map-container {
    width: 100%;
    height: 500px;
  }
}

/* .podcast-card img {
  height: 200px;
  width: 40%;
} */

.speaker-div img {
  height: 100%;
  width: 120px;
}
