.event-card img {
  height: 120px;
}

.map-container {
  height: 300px;
  width: 100%;
}

.even-modal div {
  height: 65%;
  width: 65%;
}

@media screen and (min-width: 959px) {
  .info-map-container {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 959px) {
  .info-map-container {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 539px) {
  .featured-pc-container,
  .search-pc-container,
  .all-pc-container,
  .paginated-pc-container {
    overflow-x: scroll;
  }
  .featured-flex-container,
  .search-flex-container,
  .all-flex-container,
  .paginated-flex-container {
    min-width: max-content;
  }
}

@media screen and (max-width: 629px) {
  .pc-details-icons-container {
    flex-direction: column;
    width: 100%;
  }
}

.speaker-div {
  max-width: 207.25px;
}

.speaker-div img {
  height: 100%;
  width: 120px;
}

@media screen and (max-width: 719px) {
  .speaker-div {
    max-width: 207.25px;
  }

  .speaker-div img {
    height: 100%;
    width: 100%;
    max-width: 207.25px;
    max-height: 207.25px;
  }
}

.pc-details img {
  height: 300px;
  width: auto;
  max-width: 300px;
}

.tabs button:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
}
