.event-card img {
  height: 120px;
}

.map-container {
  height: 300px;
  width: 100%;
}

@media screen and (min-width: 959px) {
  .info-map-container {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 959px) {
  .info-map-container {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 539px) {
  .featured-pc-container,
  .search-pc-container,
  .all-pc-container,
  .paginated-pc-container {
    overflow-x: scroll;
  }
  .featured-flex-container,
  .search-flex-container,
  .all-flex-container,
  .paginated-flex-container {
    min-width: max-content;
  }
}

@media screen and (max-width: 629px) {
  .pc-details-icons-container {
    flex-direction: column;
    width: 100%;
  }
}

.speaker-div {
  max-width: 207.25px;
}

.speaker-div img {
  height: 100%;
  width: 120px;
}

@media screen and (max-width: 719px) {
  .speaker-div {
    max-width: 207.25px;
  }

  .speaker-div img {
    height: 100%;
    width: 100%;
    max-width: 207.25px;
    max-height: 207.25px;
  }
}

.pc-details img {
  height: 300px;
  width: auto;
  max-width: 300px;
}

.seven-grid {
  width: 100%;
}

.tabs button:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
}

.carousel div {
  border-radius: 0px;
}

.carousel-image {
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

.fade-in-alert {
  animation: fadeIn 400ms;
  -moz-animation: fadeIn 400ms;
  -webkit-animation: fadeIn 400ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.empty-container {
  width: 100%;
  height: 50%;
}

.davos-member-container {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 28px;
  padding-right: 28px;
}

.home-images {
  height: 1000px;
}

.drop-down button {
  background-color: #0c4a6e;
}

.settings-sidebar button:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  background-color: lightgray;
}

.settings-toggle div {
  background-color: #0369a1;
}

.toggle-green span {
  color: green;
}

.toggle-red span {
  color: red;
}

.new-password div {
  width: fit-content;
}

.new-password input {
  padding: 0.25rem;
}

.react-datepicker-wrapper input {
  border-radius: 0.5rem; /* 8px */
  background-color: rgb(249 250 251);
  border-color: rgb(209 213 219);
}

.radio-button input {
  color: #0c4a6e;
}

.radio-button input:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  border-color: #0369a1;
}

div[data-testid="modal-overlay"]:has(.form-handle) {
  --tw-bg-opacity: 0;
}

@media screen and (min-width: 780px) {
  .settings-body,
  .settings-sidebar {
    height: calc(100vh - 76px);
  }
  .inner-settings-profile,
  .inner-settings-security {
    height: calc(100vh - 146px);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 780px) {
  .settings-body,
  .settings-sidebar {
    height: 100%;
  }
  .inner-settings-profile,
  .inner-settings-security {
    height: fit-content;
    display: flex;
    flex-direction: column;
  }
}

.about-sidebar-container button:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  background-color: lightgray;
}

.verify-password input {
  padding: 0.31rem;
}

.verify-password-error input {
  color: red;
  animation: shake 0.5s linear;
}

@keyframes shake {
  8%,
  41% {
    -webkit-transform: translateX(-10px);
  }
  25%,
  58% {
    -webkit-transform: translateX(10px);
  }
  75% {
    -webkit-transform: translateX(-5px);
  }
  92% {
    -webkit-transform: translateX(5px);
  }
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
}

.scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.scroll-text:hover {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: scroll-ltr 7.5s linear infinite;
  -webkit-animation: scroll-ltr 7.5s linear infinite;
  animation: scroll-ltr 7.5s linear infinite;
}

/* for Firefox */
@-moz-keyframes scroll-ltr {
  from {
    -moz-transform: translateX(5%);
  }
  to {
    -moz-transform: translateX(-105%);
  }
}

/* for Chrome */
@-webkit-keyframes scroll-ltr {
  from {
    -webkit-transform: translateX(5%);
  }
  to {
    -webkit-transform: translateX(-105%);
  }
}

@keyframes scroll-ltr {
  from {
    -moz-transform: translateX(5%);
    -webkit-transform: translateX(5%);
    transform: translateX(5%);
  }
  to {
    -moz-transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
}

/*======================================================================================================
======================================================================================================*/
CSS Pretty Print .bb,
.bb::before,
.bb::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bb {
  color: #0c4a6e;
  /* box-shadow: inset 0 0 0 1px white; */
  border-radius: 5px;
  animation: scaleAnimation 3s infinite;
  -webkit-animation: scaleAnimation 20s infinite;
  transition: transform 0.3s ease-in-out;
}
/* .bb::before,
.bb::after {
  content: "";
  margin: -2.6%;
  border-radius: 5px;
  box-shadow: inset 0 0 0 4px;
  animation: clipMe 12s linear infinite;
  -webkit-animation: clipMe 12s linear infinite;
} */
/* .bb::before {
  animation-delay: -6s;
} */
@keyframes clipMe {
  0%,
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 2%, 0% 2%);
  }
  25% {
    clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 98%, 100% 98%, 100% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(98% 0%, 100% 0%, 100% 100%, 98% 100%);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@keyframes scaleAnimation {
  0%,
  100% {
  }
  50% {
  }
}

@media screen and (max-width: 539px) {
  .bb::before,
  .bb::after {
    content: "";
    margin: -10%;
    border-radius: 5px;
    box-shadow: inset 0 0 0 4px;
    animation: clipMe 12s linear infinite;
    -webkit-animation: clipMe 12s linear infinite;
  }
  .bb::before {
    animation-delay: -6s;
  }
}

@media screen and (max-width: 767px) {
  .bb::before,
  .bb::after {
    content: "";
    margin: -10%;
    border-radius: 5px;
    box-shadow: inset 0 0 0 4px;
    animation: clipMe 12s linear infinite;
    -webkit-animation: clipMe 12s linear infinite;
  }
  .bb::before {
    animation-delay: -6s;
  }
}

@media screen and (max-width: 1023px) {
  .bb::before,
  .bb::after {
    content: "";
    margin: -4.5%;
    border-radius: 5px;
    box-shadow: inset 0 0 0 4px;
    animation: clipMe 12s linear infinite;
    -webkit-animation: clipMe 12s linear infinite;
  }
  .bb::before {
    animation-delay: -6s;
  }
}

@media screen and (min-width: 1024px) {
  .bb::before,
  .bb::after {
    content: "";
    margin: -3%;
    border-radius: 5px;
    box-shadow: inset 0 0 0 4px;
    animation: clipMe 12s linear infinite;
    -webkit-animation: clipMe 12s linear infinite;
  }
  .bb::before {
    animation-delay: -6s;
  }
}
